body{
    background:linear-gradient(30deg,rgb(243, 162, 12),rgb(170, 87, 170));
}
.pictures{
    width: 30%;
    height:80vh;
    color: #1111;
    margin :5%;
    margin-left: 5%;
    background-color: rgb(240, 175, 56);
    margin-right: 0;
    
}
.merge {
    color:#1111;
    display: flex;
    
}
.merge .pictures {
    color: black;
    
}
.merge h1{
    margin-left: 80px;
    
}
.merge p1{
    margin-left: 80px;
    font-style: italic;
    font-size: 13px;
    margin-bottom: 20px;
}
.merge p{
    margin-left: 80px;
    padding-top: 3px;
    font-size: 13px;
}
.merge .topsignin{
    margin-left: 440px;
    margin-top:30px;
}
.merge .heading{
    margin-left: 150px;   
}
.form .socials {
    font-size: 13px;
}
.merge .Or{
    margin-left: 100px;
    font-size: 13px;
    padding-top: 20px;
}
.form{
    background: white;
    height:80vh;
    width:50%;
    color:black;
    margin-top: 63.5px;
    font-size: 13px;
 
}
.form .name{
    margin-left: 100px;
    padding-top: 20px;
}
 
.form .emailaddress{
    margin-left: 100px;
    padding-top: 20px;
}
.form .paragraph{
    margin-left: 120px;
    padding-top: 17px;
    padding-bottom: 20px;
}
.form button{
    margin-left: 100px;
    font-size: 13px;
}
.form .policy{
    margin-left: 100px;
    padding-top: 20px;
}
.form .password{
    margin-left: 100px;
    padding-top: 10px;
}
.names{
    display: inline-block;
}
.form .checkbox{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: -38px;   
}
.CreateAccount button{
    background: palevioletred;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}
.pictures img{
    width: 350px;
}
.form .facebook{
    padding-bottom: -80px;
}
.socials{
    display: flex;
}
.form{
    
}
